@model EmployeeAppraisalWeb.Models.Employee.EmployeeFormViewModel;

<div id="form-main-container">


    <div id="form-header-title">
        <span>PT. BUKIT MURIA JAYA</span>
        <span>INDIVIDUAL PERFORMANCE SYSTEM</span>
        <span>
            Periode: January - December
            <input type="number" id="periode-value"/>
        </span>
    </div>

    <div id="form-header-info">
        <div>
            <table>
                <tr>
                    <td>Nama</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Nik</td>
                    <td id="nik-value">@Model.Nik</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>Divisi / Departemen</td>
                    <td>@Model.Division</td>
                </tr>
                <tr>
                    <td>Jabatan</td>
                    <td>@Model.Position</td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <table id="indikator-utama-kerja">
        
            <thead>
                <tr>
                    <td colspan="11" style="text-align:left">A. Indikator Utama Kerja</td>
                </tr>

                <tr>
                    <th>No</th>
                    <th>Strategic Objective</th>
                    <th>KPI</th>
                    <th>Unit of Measurement</th>
                    <th>Bobot</th>
                    <th>Polarization</th>
                    <th>Target</th>
                    <th>Actual</th>
                    <th>Tingkat Unjuk Kerja</th>
                    <th>Nilai Unjuk Kerja</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td id="number-one"></td>
                    <td>
                        <input type="text" class="str-obj-input-class" />
                    </td>
                    <td>
                        <select id="kpi-drop" class="kpi-drop-class">
                            @foreach (var kpi in Model.KpiDropdown)
                            {
                                <option value="@kpi.Value">
                                    @kpi.Text
                                </option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" class="uom-input-class" />
                    </td>
                    <td>
                        <input type="number" id="bobot"/>
                    </td>
                    <td>
                        <select class="polar-drop-class">
                            @foreach (var polar in Model.PolarisasiDropdown)
                            {
                                <option value="@polar.Value">
                                    @polar.Text
                                </option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="number" />
                    </td>
                    <td>
                        <input type="number" class="aktual-input-class" />
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <button id="add-row-btn">+</button>
                    </td>
                </tr>
            </tbody>
        
        
            <tfoot>
                <tr>
                    <td colspan="9">Nilai A</td>
                    <td id="total-nilai-a"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <table id="kompetensi-dasar">
            <thead>
                <tr>
                    <td colspan="6" style="text-align:left">B. Kompetensi Dasar</td>
                </tr>

                <tr>
                    <th>No.</th>
                    <th>Kompentensi</th>
                    <th>Perilaku</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td class="kompetensi-class">
                        <span style="font-weight:bold; font-size:18px">CUSTOMER FOCUS</span>
                        <br>
                        <span style="font-size:14px">
                            Memberikan pelayanan melebihi harapan dari pelanggan,
                            baik eksternal maupun internal dan memastikan kepuasan
                            pelanggan tercapai.
                        </span>
                    </td>
                    <td class="perilaku-class">
                        <span style="font-weight:bold;">Menjaga Kejelasan Komunikasi dengan Konsumen</span>
                        <br>
                        <span style="font-size:14px">
                            Menjalin komunikasi dua arah dengan konsumen mengenai
                            harapan dan kepentingan bersama, memonitor tingkat
                            kepuasan konsumen dan memberikan informasi-informasi
                            yang berguna bagi konsumen
                        </span>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Perlu Diperbaiki</label>
                            <input type="radio" value="20" name="row1"/>
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sudah baik, pertahankan</label>
                            <input type="radio" value="70" name="row1"/>
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sangat Baik</label>
                            <input type="radio" value="100" name="row1"/>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>2</td>
                    <td class="kompetensi-class">
                        <span style="font-weight:bold; font-size:18px">INTEGRITAS</span>
                        <br>
                        <span style="font-size:14px">
                            Bertindak dan berperilaku berdasarkan aturan,
                            norma dan etika organisasi dan menghargai orang
                            lain.
                        </span>
                    </td>
                    <td class="perilaku-class">
                        <span style="font-weight:bold;">Berorientasi pada Kebenaran</span>
                        <br>
                        <span style="font-size:14px ">
                            Menyampaikan masalah dan fakta walaupun dapat 
                            memberikan dampak negatif kepada pihak lain, 
                            termasuk didalamnya berani untuk menyampaikan 
                            pendapat, masukan dan keluhan.
                        </span>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Perlu Diperbaiki</label>
                            <input type="radio" value="20" name="row2"/>
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sudah baik, pertahankan</label>
                            <input type="radio" value="70" name="row2" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sangat Baik</label>
                            <input type="radio" value="100" name="row2" />
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>3</td>
                    <td class="kompetensi-class">
                        <span style="font-weight:bold; font-size:18px">KERJASAMA TIM</span>
                        <br>
                        <span style="font-size:14px">
                            Menjalin hubungan kerjasama yang sinergis dalam kelompok
                            dengan mengutamakan keterbukaan, termasuk didalamnya
                            terbuka terhadap masukan dari anggota tim, bekerja
                            sama-sama bukan untuk berkompetisi namun untuk
                            mencapai tujuan organisasi.
                        </span>
                    </td>
                    <td class="perilaku-class">
                        <span style="font-weight:bold;">Menjalin Koordinasi</span>
                        <br>
                        <span style="font-size:14px ">
                            Menjalin koordinasi dengan anggota tim maupun dengan unit
                            bagian lain untuk mendukung kelancaran pekerjaan, berkomunikasi
                            dengan rekan kerja baik internal maupun antar unit untuk membahas
                            dan menyelesaikan permasalahan dengan cara yang terbaik.
                        </span>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Perlu Diperbaiki</label>
                            <input type="radio" value="20" name="row3" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sudah baik, pertahankan</label>
                            <input type="radio" value="70" name="row3" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sangat Baik</label>
                            <input type="radio" value="100" name="row3" />
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>4</td>
                    <td class="kompetensi-class">
                        <span style="font-weight:bold; font-size:18px">CONTINUOUS IMPROVEMENT</span>
                        <br>
                        <span style="font-size:14px">
                            Bertindak secara proaktif untuk terus meningkatkan,
                            mengembangkan, dan berbagi dan mengaplikasikan 
                            pengetahuan baru untuk mencapai perbaikan yang
                            berkelanjutan.
                        </span>
                    </td>
                    <td class="perilaku-class">
                        <span style="font-weight:bold;">Mengenali Peluang Perbaikan</span>
                        <br>
                        <span style="font-size:14px ">
                            Mampu mendefinisikan area-area perbaikan dalam lingkup proses
                            kerja yang menjadi tugas dan tanggung jawabnya, dan secara
                            proaktif berusaha untuk mencari tahu solusi yang dapat diterapkan.
                        </span>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Perlu Diperbaiki</label>
                            <input type="radio" value="20" name="row4" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sudah baik, pertahankan</label>
                            <input type="radio" value="70" name="row4" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sangat Baik</label>
                            <input type="radio" value="100" name="row4" />
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>5</td>
                    <td class="kompetensi-class">
                        <span style="font-weight:bold; font-size:18px">WORK EXCELLENCE</span>
                        <br>
                        <span style="font-size:14px">
                            Bertindak dan bekerja sama untuk melampaui suatu
                            stadar prestasi, mencapai sasaran-sasaran yang menantang,
                            atau mencapai sesuatu yang belum pernah dilakukan oleh orang
                            lain atau organisasi lain.
                        </span>
                    </td>
                    <td class="perilaku-class">
                        <span style="font-weight:bold;">Menetapkan Standar Pribadi yang Hendak Dicapai</span>
                        <br>
                        <span style="font-size:14px ">
                            Bekerja dengan menetapkan standar pribadi untuk melampaui
                            sasaran/target kerja yang ditetapkan dan bertanggung jawab
                            terhadap hasil kerja yang dicapai.
                        </span>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Perlu Diperbaiki</label>
                            <input type="radio" value="20" name="row5" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sudah baik, pertahankan</label>
                            <input type="radio" value="70" name="row5" />
                        </div>
                    </td>
                    <td class="td-radio">
                        <div class="radio-basic-competency">
                            <label>Sangat Baik</label>
                            <input type="radio" value="100" name="row5" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button id="submit-form-btn">Submit</button>

</div>
<script src="~/js/form.js"></script>